{
    "ip": "127.0.0.1",
    "iptables": false,
    "ipv6": false,
    "storage-driver": "overlay2",
    "log-driver": "json-file",
    "log-level": "info",
    "log-opts": {
        "max-size": "16m",
        "max-file": "4"
    },
    "max-concurrent-downloads": 7,
    "max-concurrent-uploads": 7,
    "debug": false
}
